= simple_form_for model do |f|
  .row.input-group
    .col-12
      h5
        = f.label :title, "Title:"
      = f.text_field :title, placeholder: "Title", label: false
  .row.input-group
    .col-12
      h5
        = f.label :body, "Description:"
      = f.text_area :body, placeholder: "Description", label: false
  .row.input-group
  br
    = f.submit 'Create Task', class: "btn btn-info"