.container
  h1.text_center
    'Welcome to Task list App
  table
    tbody
      tr
        th.col-xs-6= 'Task title: |'
        th.col-xs-6= 'Description:'
      - model.each do |task|
        tr
          th.col-xs-6= link_to task.title, task_path(task)
          th.col-xs-6= task.body
  br
  .row
    .col-2
      h5.text-center
        = link_to 'Create new task', new_task_path, class: "btn btn-info"



          