.container
  .row.input-group
    .col-2
      h6
        'Task title:
      = model.title
    .col-8
      h6
        'Description:
      = model.body
  br
    = link_to 'Edit', edit_task_path(model.id), class: "btn btn-info" 
    = link_to 'Delete', task_path(model.id), method: :delete, class: "btn btn-danger"